.slow-bounce {
	animation: slow-bounce 0.5s linear;
}

@keyframes slow-bounce {
	0% {
		transform: scale(0.6);
	}
	60% {
		transform: scale(1.2);
	}
	80% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}
